[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
flask = "*"
requests = "*"
wtforms = "*"
flask-sqlalchemy = "*"
cymysql = "*"
pymysql = "*"
flask-login = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.6"
